:host {
  color: var(--pap-text);

  dialog {
    width: 80%;
    max-width: 500px;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input[type=radio] {
        width: 1.2rem;
        height: 1.2rem;
      }

      div.flex {
        display: flex;
        gap: 1rem;

        &.radio {
          justify-content: space-between;
        }

        &.mt {
          margin-top: 1rem;
        }

        &.field {
          gap: 0.1rem;
          flex-direction: column;

          label {
            display: block;
          }

          button {
            flex: 1;
          }
        }
      }
    }
  }
}