:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;

  div {
    background-color: white;
    padding: 0.5rem 1rem;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}