:host {
  background-color: var(--pap-foreground);
  color: var(--pap-text);

  padding: 1rem;
  border-radius: 0.5rem;
  display: block;

  h2 {
    margin: 0;
  }

  div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}